@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Raleway&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 100%;
}

/* Landing Page */

.landing__background {
    background-image: url(images/09-night.jpg);
    background-size: cover;
    min-height: 100vh;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header__menu {
    width: 100px;
}

.header__logo {
    width: 60px;
    align-self: center;
    justify-self: center
}

.header__booking {
    width: 100px;
    font-family: 'Cardo';
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    text-align: end;
}

.main__landing {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan__head-text {
    font-family: 'Cardo';
    font-size: 1.7rem;
    color: #fff;
    font-weight: 400;
    text-align: center;
    padding: 10px
}

.slogan__bread-text {
    font-family: 'Cardo';
    font-size: 1rem;
    color: #fff;
    text-align: center;
}

/* Hamburger Menu Page */

.menu__background {
    background-color: #282838;
    min-height: 100vh;

}

.main__menu {
    background-image: url(images/menu-backgrop.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 0;
}

.menu-text {
    font-family: 'Cardo';
    font-size: 1.2rem;
    color: #C1B098;
    text-decoration: none;
    padding: 10px;
}

/* About us Page */

.header__background--img {
    background: linear-gradient(to bottom, #0000004e, #0000004e ),  url(images/04-night.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.about-slogan__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 150px 30px;
    min-height: 80vh;
}

.about__title-text {
    font-family: 'Cardo';
    font-size: 3rem;
    color: #fff;
    font-weight: 300;
    text-align: center;
    padding: 10px 0;
}

.about__bread-text {
    font-family: 'Cardo';
    font-size: 1rem;
    color: #fff;
    text-align: center;
}

.nav__scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__scroll-text {
    color: #fff;
}

.wrapper__about-us {
    background-color: #282838;
    background-image: url(images/story-backdrop.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: top 40px right 30px;
}

.about__head-text-top {
    font-family: 'Cardo';
    font-size: 2rem;
    color: #C1B098;
    font-weight: 300;
    padding: 10px 30px 150px 30px;
}

.about__head-text--beige {
    font-family: 'Cardo';
    font-size: 2rem;
    color: #C1B098;
    font-weight: 300;
    padding: 0px 30px 10px 30px;
}

.about__bread-text--beige {
    font-family: 'Cardo';
    font-size: 1rem;
    color: #C1B098;
    padding: 0px 20px;
}

.about-image__wrapper {
    min-width: 100vw;
    min-height: 25vh;
    background: linear-gradient(to bottom, #282838 0%, #282838 50%, #F3E9DC 50%, #F3E9DC 100%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.about-image {
    max-height: 20vh;
    min-width: 70vw;
}

.wrapper__about-cabins {
    background-color: #F3E9DC;
    background-image: url(images/cabins-backdrop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top 20px left 20px;
}

.about__head-text--blue {
    font-family: 'Cardo';
    font-size: 2rem;
    color: #282838;
    font-weight: 300;
    text-align: end;
    padding: 0px 30px 120px 30px;
}

.about__bread-text--blue {
    font-family: 'Cardo';
    font-size: 1rem;
    color: #282838;
    padding: 0px 20px 40px 20px;   
}

.about__explore {
    font-family: 'Cardo';
    font-size: 1rem;
    color: #713A25;
    font-weight: 700;
    text-decoration: none;
    padding: 40px;
}

.cabin-image__wrapper {
    min-width: 100vw;
    min-height: 40vh;
    background: linear-gradient(to bottom, #F3E9DC 0%, #F3E9DC 50%, #282838 50%, #282838 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabin-image__overlays {
    background-image: url(images/07-day.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 30vh;
    min-width: 90vw;
    margin: 10px;
}

