@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Raleway&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 100%;
}

/* Header Styling */

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header__menu {
    width: 100px;
}

.header__logo {
    width: 60px;
    align-self: center;
    justify-self: center
}

.header__booking {
    width: 100px;
    font-family: 'Cardo';
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    text-align: end;
}

/* Landing Page */

.landing__background {
    background-image: url(images/09-night.jpg);
    background-size: cover;
    min-height: 100vh;
}

.main__landing {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan__head-text,
.slogan__bread-text {
    font-family: 'Cardo';
    color: #fff;
    font-weight: 400;
    text-align: center;
}

.slogan__head-text {
    font-size: 1.7rem;
    padding: 10px
}

.slogan__bread-text {
    font-size: 1rem;
}

/* Hamburger Menu Page */

.menu__background {
    background-color: #282838;
    min-height: 100vh;
}

.main__menu {
    background-image: url(images/menu-backgrop.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 0;
}

.menu-text {
    font-family: 'Cardo';
    font-size: 1.2rem;
    color: #C1B098;
    text-decoration: none;
    padding: 10px;
}

/* About us Page */

.header__background--about-img {
    background: linear-gradient(to bottom, #0000004e, #0000004e ),  url(images/04-night.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.about-slogan__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 150px 30px;
    min-height: 80vh;
}

.about__title-text,
.about__bread-text,
.nav__scroll-text {
    font-family: 'Cardo';
    color: #fff;
    text-align: center;
}

.about__title-text {
    font-size: 3rem;
    font-weight: 300;
    padding: 10px 0;
}

.about__bread-text {
    font-size: 1rem;
}

.nav__scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper__about-us {
    background-color: #282838;
    background-image: url(images/story-backdrop.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: top 40px right 30px;
}

.about__head-text-top,
.about__head-text--beige,
.about__head-text--blue {
    font-family: 'Cardo';
    font-size: 2rem;
    font-weight: 300;
}

.about__head-text-top,
.about__head-text--beige {
    color: #C1B098;
}

.about__head-text-top {
    padding: 10px 30px 150px 30px;
}

.about__head-text--beige {
    padding: 0px 30px 10px 30px;
}

.about__bread-text--beige,
.about__bread-text--blue {
    font-family: 'Cardo';
    font-size: 1rem;
}

.about__bread-text--beige {
    color: #C1B098;
    padding: 0px 20px;
}

.about-image__wrapper {
    min-width: 100vw;
    min-height: 25vh;
    background: linear-gradient(to bottom, #282838 0%, #282838 50%, #F3E9DC 50%, #F3E9DC 100%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.about-image {
    max-height: 20vh;
    min-width: 70vw;
}

.wrapper__about-cabins {
    background-color: #F3E9DC;
    background-image: url(images/cabins-backdrop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top 15px left 20px;
}

.about__head-text--blue {
    color: #282838;
    text-align: end;
    padding: 0px 30px 120px 30px;
}

.about__bread-text--blue {
    color: #282838;
    padding: 0px 20px 40px 20px;   
}

.about__explore {
    font-family: 'Cardo';
    font-size: 1rem;
    color: #713A25;
    font-weight: 700;
    text-decoration: none;
    padding: 40px 20px;
}

.cabin-image__wrapper {
    min-width: 100vw;
    min-height: 40vh;
    background: linear-gradient(to bottom, #F3E9DC 0%, #F3E9DC 50%, #282838 50%, #282838 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabin-image__overlays {
    background-image: linear-gradient(to bottom, #0000005a, #0000005a ), url(images/07-day.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 30vh;
    min-width: 90vw;
    margin: 10px;
}

.image__head-text,
.image__bread-text,
.image__link {
    font-family: 'Cardo';
    color: #F3E9DC;
}

.image__head-text {
    font-size: 1.5rem;
    font-weight: 300;
    padding-left: 10px;
}

.image__bread-text {
    font-size: 1rem;
    padding: 0px 10px 5px 10px;
}

.image__link {
    font-size: 1.25rem;
    text-decoration: none;
    padding: 0px 10px 10px 10px;
}

.reviews__wrapper {
    background-color: #282838;
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 40px;
}

.reviews__head-text,
.reviews__name-text,
.reviews__bread-text {
    font-family: 'Cardo';
    color: #C1B098;
    font-weight: 300;
    text-align: center;
}

.reviews__head-text {
    font-size: 2rem;
    padding: 40px 20px 0px 20px;
}

.reviews__name-text {
    font-size: 1.2rem;
    padding: 20px;
}

.reviews__carousell {
    display: flex;
    align-items: center;
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.reviews__bread-text {
    font-size: 1rem;
    padding: 15px 30px;
}

/* Booking Page */

.header__background--booking-img {
    background: linear-gradient(to bottom, #0000004e, #0000004e ),  url(images/05-night.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 60vh;
}

.main__booking {
    background-color: #F3E9DC;
    padding: 60px 30px;
}

.form__stay-search {
    display: flex;
    flex-direction: column;
    border: 2px solid #713A25;
    margin-bottom: 60px;
}

.form__date-picker,
.form__visitor-amount {
    display: flex;
    justify-content: space-evenly;
}

.form__arrival__wrapper,
.form__departure__wrapper,
.form__adults__wrapper,
.form__children__wrapper {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.form__label-text,
.form__date,
.form__dropdown {
    font-family: 'Cardo';
    font-size: 1rem;
    color: #282838;
    font-weight: 600;
}

.form__date,
.form__dropdown {
    border: none;
    background-color: #F3E9DC;
    border-bottom: 2px solid #713A25;
    margin-top: 10px;
}

.form__dropdown {
    min-width: 135px;
}

.button__brown--large,
.button__brown {
    background-color: #713A25;
    font-family: 'Cardo';
    color: #F3E9DC;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px -1px rgba(0,0,0,0.25);
}

.button__brown--large {
    font-size: 1.2rem;
    padding: 10px 50px;
    margin: 10px auto;
}

.room__card--upper {
    display: flex;
    justify-content: space-between;
}

.room__card-img {
    max-width: 50vw;
}

.room__card-text__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

.info__card--title,
.info__card--cost {
    font-family: 'Cardo';
    color: #282838;
}

.info__card--title {
    font-size: 1.2rem;
}

.info__card--cost {
    font-size: 2rem;
}

.button__brown {
    font-size: 1rem;
    padding: 5px 10px;
}

.room__card--midline {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
}

.room__card--info {
    margin-bottom: 50px;
}

.info__card-text {
    font-family: 'Cardo';
    font-size: 1rem;
    color: #282838;
    font-weight: 600;
    text-align: center;
}

/* Footer Styling for about and booking */

.footer__about {
    background: #F3E9DC;
}

.footer__booking {
    background-color: #282838;
}

.footer__nav {
    display: flex;
    justify-content: space-between
}

.footer__nav--left {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.footer__nav--right {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.footer__link--blue,
.footer__link--beige {
    font-family: 'Cardo';
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    padding: 5px 0px;
}

.footer__link--blue {
    color: #282838;
}

.footer__link--beige {
    color: #C1B098;
}

.footer__adress__wrapper {
    padding: 0px 30px;
}

.footer__head-text--blue,
.footer__head-text--beige {
    font-family: 'Cardo';
    font-size: 1.2rem;
    padding: 5px 0px;
}

.footer__head-text--blue {
    color: #282838;
}

.footer__head-text--beige {
    color: #C1B098;
}

.footer__bread-text--blue,
.footer__bread-text--beige {
    font-family: 'Cardo';
    font-size: 1rem;
    font-weight: 600;
}

.footer__bread-text--blue {
    color: #282838;
}

.footer__bread-text--beige {
    color: #C1B098;
}

.footer__newsletter-signup__form {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.label__nlemail--blue,
.label__nlemail--beige {
    font-family: 'Cardo';
    font-size: 1.2rem;
    font-weight: 600;
}

.label__nlemail--blue {
    color: #282838;
}

.label__nlemail--beige {
    color: #C1B098;
}

.input__nlemail--blue,
.input__nlemail--beige {
    font-family: 'Cardo';
    font-size: 1.05rem;
    border: none;
    padding-top: 10px;
}

.input__nlemail--blue {
    background-color: #F3E9DC;
    color: #282838;
    border-bottom: 2px solid #282838;
}

.input__nlemail--beige {
    background-color: #282838;
    color: #F3E9DC;
    border-bottom: 2px solid #C1B098;
}

.button__nlemail--blue,
.button__nlemail--beige {
    font-family: 'Cardo';
    font-size: 1.2rem;
    color: #713A25;
    border: none;
    margin: 10px auto 10px 0px;
}

.button__nlemail--blue {
    background-color: #F3E9DC;
    border-bottom: 2px solid #282838;
}

.button__nlemail--beige {
    background-color: #282838;
    border-bottom: 2px solid #C1B098;
}

.footer__app__wrapper {
    display: flex;
    padding: 0px 30px;
}

.footer__medias__wrapper {
    padding: 15px 30px;
}

.footer__media-icons__wrapper {
    padding: 5px 0px 100px 0px;
}

.footer__icon {
    padding: 0px 30px 0px 0px;
}